*,*::after,*:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: arial;
    font-size: 16px;
    margin: 0;
    background-color:lightgray;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
}
 .form_box{
    width: 600px;
    background-color: rgb(99, 104, 106);
    padding: 30px;
    border-radius: 10px;
    
}
.input-row{ position: relative; margin-bottom: 13px;}
.form_box input:not([type="submit"],[type="checkbox"]),
.form_box textarea,
.form_box select{
    width: 100%;
    margin: 0 0 3px;
    padding: 10px 15px;
    font-size: 20px;
    color: gray;
    border-radius: 5px;
    border: 1px solid transparent;
   
}
.form_box textarea{ height: 70px;}
.form_box input[type="checkbox"]{
    position: absolute;
    left: 0;
    top: 0;
}
.check_label{
    padding-left: 25px;
}
.form_box input[type="submit"]{
    padding: 10px 30px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    color:#000;
    background-color: #075680;
}
.form_box input[type="submit"]:hover{
    background:#05699f;
}
.error{
    display: block;
    font-weight: 700;
    font-size: 14px;
    color: red;
    display: none;
}
